# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [96]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [97]:
#Load the CSV from WeatherPy
weather_data = pd.read_csv("response.csv")
weather_data

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Buala,299.97,80,97,2.08,-8.14,159.59
1,1,Tuktoyaktuk,259.15,77,40,3.10,69.45,-133.04
2,2,Narsaq,274.15,43,40,2.60,60.92,-46.05
3,3,Elista,285.95,67,99,3.00,46.31,44.26
4,4,Mataura,279.26,93,100,1.79,-46.19,168.86
...,...,...,...,...,...,...,...,...
554,554,Dzilam González,312.04,24,18,4.47,21.28,-88.93
555,555,Poronaysk,272.87,97,55,2.14,49.22,143.12
556,556,Kieta,299.52,78,100,1.11,-6.22,155.63
557,557,Mahibadhoo,303.02,74,15,3.69,3.78,72.97
558,558,Krasnosel'kup,276.44,78,100,10.18,65.70,82.47

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [98]:
#API's Day 3, Activity 10
#Drop NA rows
weather_data = weather_data.dropna()
weather_data

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Buala,299.97,80,97,2.08,-8.14,159.59
1,1,Tuktoyaktuk,259.15,77,40,3.10,69.45,-133.04
2,2,Narsaq,274.15,43,40,2.60,60.92,-46.05
3,3,Elista,285.95,67,99,3.00,46.31,44.26
4,4,Mataura,279.26,93,100,1.79,-46.19,168.86
...,...,...,...,...,...,...,...,...
554,554,Dzilam González,312.04,24,18,4.47,21.28,-88.93
555,555,Poronaysk,272.87,97,55,2.14,49.22,143.12
556,556,Kieta,299.52,78,100,1.11,-6.22,155.63
557,557,Mahibadhoo,303.02,74,15,3.69,3.78,72.97
558,558,Krasnosel'kup,276.44,78,100,10.18,65.70,82.47

In [99]:
# Used API's Day 3, Activities 6 & 7 for reference

#Locations Data Frame
#temperature = []
#wind_speed = []
#cloudiness = []

#vacation = pd.DataFrame[{"Temperature": Temperature,
  #                       "Cloudiness": Cloudiness}]

#vacation.head()

#Lat and lng as locations
locations = weather_data[["Latitude", "Longitude"]]
locations

     Latitude  Longitude
0       -8.14     159.59
1       69.45    -133.04
2       60.92     -46.05
3       46.31      44.26
4      -46.19     168.86
..        ...        ...
554     21.28     -88.93
555     49.22     143.12
556     -6.22     155.63
557      3.78      72.97
558     65.70      82.47

[559 rows x 2 columns]

In [100]:
# Humidity for the Weight
humidity = weather_data["Humidity"].astype(float)
humidity

0      80.0
1      77.0
2      43.0
3      67.0
4      93.0
       ...
554    24.0
555    97.0
556    78.0
557    74.0
558    78.0
Name: Humidity, Length: 559, dtype: float64

In [101]:
# Used day 3 API's Activity 7, Stu_Airport_Map
# Plot Heatmap
fig = gmaps.figure()

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                 dissipating = False,max_intensity = 10,
                                point_radius = 1)
#Add layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [102]:
census_data_complete = census_data_complete.dropna()

NameError: name 'census_data_complete' is not defined

In [103]:
#Max temp less than 80 degrees but greater than 70 degrees

perfect_temp = weather_data["Temperature"] > 70, weather_data["Temperature"]< 80
perfect_temp


#max_temp = weather["Temperature"]< 80
#max_temp

(0      True
 1      True
 2      True
 3      True
 4      True
        ...
 554    True
 555    True
 556    True
 557    True
 558    True
 Name: Temperature, Length: 559, dtype: bool, 0      False
 1      False
 2      False
 3      False
 4      False
        ...
 554    False
 555    False
 556    False
 557    False
 558    False
 Name: Temperature, Length: 559, dtype: bool)

In [104]:
#Wind Speed less than 10mph
wind_speed = weather["Wind Speed"]<10 
wind_speed

0       True
1       True
2       True
3       True
4       True
       ...
554     True
555     True
556     True
557     True
558    False
Name: Wind Speed, Length: 559, dtype: bool

In [105]:
#Zero cloudiness
cloudiness = weather_data["Cloudiness"] == 0
cloudiness
cloudiness

0      False
1      False
2      False
3      False
4      False
       ...
554    False
555    False
556    False
557    False
558    False
Name: Cloudiness, Length: 559, dtype: bool

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [106]:
# Used API's Day 3 Activity 4 for reference
#Storing "hotel" into variable 
hotel_df = []

In [107]:
latitude = weather_data["Latitude"]
longitude = weather_data["Longitude"]

In [108]:
#Day 3 API's, Activity 2
#Create Data Frame and add "Hotel Name" column to Data Frame. 
#Also, set a parameter to 5000 meters.

#geocordinates 

target_coordinates = "Latitude, Longitude"
target_radius = 5000
target_type = "hotels"

params= {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}
    
#base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#run a request using the params dictionary
response = requests.get(base_url,params=params)
response

In [111]:
#Convert response to json
hotels_data = response.json()

#Pretty print the json
print(json.dumps(hotels_data,indent=4, sort_keys=True))

{
    "error_message": "You have exceeded your daily request quota for this API. If you did not set a custom daily request quota, verify your project has an active billing account: http://g.co/dev/maps-no-account",
    "html_attributions": [],
    "results": [],
    "status": "OVER_QUERY_LIMIT"
}

In [110]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map